<div class="code-box">
  <div class="code-box-demo">
    <div id="components-select-demo-basic"></div>
    <div class="nico-insert-code"><select>
  <option>选项一</option>
  <option>选项二</option>
  <option>选项三</option>
</select></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">select</span>&gt;</span>
  <span class="tag">&lt;<span class="title">option</span>&gt;</span>选项一<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
  <span class="tag">&lt;<span class="title">option</span>&gt;</span>选项二<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
  <span class="tag">&lt;<span class="title">option</span>&gt;</span>选项三<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
<span class="tag">&lt;/<span class="title">select</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta">
    <div class="code-box-title">基本型</div>
    <p>你说什么我还是听不清。</p>
    <span class="collapse iconfont-home icon-chevron"></span>
  </div>
</div>