<div class="code-box">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-basic"></div>
    <script>var Datepicker = antd.datepicker;

React.render(
  React.createElement(Datepicker, {value: ""})
, document.getElementById('components-datepicker-demo-basic'));</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Datepicker = antd.datepicker;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">value</span>=<span class="value">""</span> /&gt;</span>
, document.getElementById('components-datepicker-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta">
    <div class="code-box-title">基本</div>
    <p>最简单的用法。</p>
    <span class="collapse iconfont-home icon-chevron"></span>
  </div>
</div>