<div class="code-box">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-formatter"></div>
    <script>var Datepicker = antd.datepicker;

React.render(
  React.createElement(Datepicker, {value: "2015/01/01", format: "yyyy/MM/dd"})
, document.getElementById('components-datepicker-demo-formatter'));</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Datepicker = antd.datepicker;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">value</span>=<span class="value">"2015/01/01"</span> <span class="attribute">format</span>=<span class="value">"yyyy/MM/dd"</span> /&gt;</span>
, document.getElementById('components-datepicker-demo-formatter'));</span></code></pre></div>
  </div>
  <div class="code-box-meta">
    <div class="code-box-title">日期格式</div>
    <p>使用 <code>format</code> 属性自定义您需要的日期定义格式：yyyy/MM/dd</p>
    <span class="collapse iconfont-home icon-chevron"></span>
  </div>
</div>