<div class="code-box">
  <div class="code-box-demo">
    <div id="components-button-demo-disabled"></div>
    <div class="nico-insert-code"><button disabled>按钮</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">disabled</span>&gt;</span>按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta">
    <div class="code-box-title">失效</div>
    灰色的
    <span class="collapse iconfont-home icon-chevron"></span>
  </div>
</div>